/* Réinitialisation des styles par défaut */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, h1, h2, p, ul, li, table {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #bdbbbb;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img{
  width: 50px;
  height: 50px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 20px;
}

header nav {
  margin-left: auto;
  margin-right: auto; 
}


nav ul {
  list-style-type: none;
  margin-left: -300px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ccc;
}

#iframe-container {
  display: flex;
  justify-content: center;
}

#iframe-container iframe {
  border: none;
  overflow: hidden;
}

#contact table {
  width: 100%;
  border-collapse: collapse;
}

#contact table th, table td {
  border: none;
  padding: 8px;
  text-align: left;
}

#vitrine-photos {
  text-align: center;
}

#vitrine-photos h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-gallery img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  flex-shrink: 0;
}
